/* === GENERAL === */
* {
    scroll-behavior: smooth;
}

body {
    font-family: "DM Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    font-family: inherit;
    color: currentColor;
}

img {
    display: block;
}

input {
    font-family: inherit;
}

.container {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    padding: 0 15px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* === HEADER === */

.header {
    background-color: #ffb8ca;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 8px 20px;
}

.header-list {
    display: none;
}

.header-button {
    display: none;
}

/* Burger button */

.burger-button {
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    background-color: transparent;
    cursor: pointer;
}

.burger-button-icon {
    stroke-width: 1px;
    stroke: #d41443;
    transition: stroke 0.3s;
}

.burger-button-icon:hover,
.burger-button-icon:focus {
    stroke: #fff;
}

/* === MOBILE WINDOW === */

.mobile-window {
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 60px;
    z-index: 999;

    width: 250px;
    height: 508px;

    box-shadow: -8px 0 20px 0 rgba(0, 0, 0, 0.25);
    background-color: #e17992;

    transform: translateX(100%);
    pointer-events: none;
    transition: transform 0.3s;
}

.mobile-window.is-open {
    transform: translateX(0%);
    pointer-events: auto;
}

.mobile-close {
    position: absolute;
    top: 20px;
    right: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    background-color: transparent;
    cursor: pointer;
}

.mobile-close-icon {
    stroke-width: 1px;
    stroke: #fff;
    transition: stroke 0.3s;
}

.mobile-close-icon:hover,
.mobile-close-icon:focus {
    stroke: #d41443;
}

/* Mobile button */

.mobile-button-container {
    position: relative;
}

.mobile-button {
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #d41443;

    border: none;
    border-radius: 62px;
    padding: 16px 54px;

    display: block;
    margin: 0 auto;

    transition: background-color 0.3s;
    cursor: pointer;
    margin-bottom: 20px;
}

.mobile-button-arrow {
    position: absolute;
    stroke-width: 2px;
    stroke: #d41443;
    fill: none;
    right: 70px;
    top: 21px;
}

.mobile-button:hover,
.mobile-button:focus {
    background-color: #ecebeb;
}

/* Mobile links */

.mobile-item {
    border-top: 1px solid #e18298;
    border-bottom: 1px solid #e18298;
    padding: 14px 20px;
}

.mobile-link {
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    transition: color 0.3s;
}

.mobile-list li:first-child .mobile-link {
    color: #d41443;
}

.mobile-link:hover,
.mobile-link:focus {
    color: #d41443;
}

/* === HERO SECTION ===*/

.hero-section {
    background-color: #ffb8ca;
}

.title-link-container {
    position: relative;
    z-index: 3;
}

.hero-title {
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-size: 26px;
    letter-spacing: 0.04em;
    line-height: 0.965;
    text-transform: uppercase;
    color: #fff;
    padding-top: 136px;
    margin-bottom: 20px;
    max-width: 218px;
}

.hero-title span {
    font-size: 48px;
    color: #d41443;
}

.hero-list {
    display: flex;
    gap: 8px;
}

.hero-item {
    margin-bottom: 158px;
}

.hero-milk-img,
.hero-milk-text,
.hero-milk-arrow,
.hero-girl-img,
.hero-stat-list {
    display: none;
}

.hero-link-product,
.hero-link-made {
    font-weight: 400;
    font-size: 8px;
    text-align: center;
    padding: 8px 14px;
    border-radius: 20px;
    transition: border-color 0.3s, background-color 0.3s;
}

.hero-link-product {
    border: 1px solid #d41443;
    color: #fff;
    background-color: #d41443;
}

.hero-link-made {
    color: #d41443;
    background-color: #fff;
    border: none;
}

.hero-link-product:hover,
.hero-link-product:focus {
    border-color: #fff;
}

.hero-link-made:hover,
.hero-link-made:focus {
    background-color: #ecebeb;
}

.hero-img {
    position: absolute;
    top: 67px;
    right: 0;
    z-index: 2;
    width: 290px;
}


/* === PRODUCT SECTION ===*/

.product-section {
    padding: 60px 0;
}

.product-title {
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center;
    color: #ffa5ba;
    margin-bottom: 148px;
}

.product-title span {
    font-size: 34px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color: #d41443;
}

.product-list {
    display: flex;
    flex-direction: column;
    gap: 140px;
}

.product-article {
    position: relative;
    border-radius: 24px;
    width: 280px;
    height: 489px;
}

.ice-cream {
    background-color: #ffb8ca;
}

.ice-coffee {
    background-color: #f0d1a5;
}

.milkshake {
    background-color: #c2e297;
}

.product-img {
    position: absolute;
    top: -144px;
}

.product-sub-title {
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding-top: 160px;
    margin-bottom: 32px;
}

.product-elipse-container {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
}

.product-elipse {
    max-width: 6px;
    max-height: 6px;
    fill: #fff;
}

.product-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    margin-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 32px;
}

.product-arrow {
    margin: 0 auto;
}


/* === MADE SECTION ===*/

.made-section {
    background-color: #fff5f6;
    padding-top: 60px;
    padding-bottom: 66px;
}

.made-pre-text {
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    color: #ffa5ba;
    margin-bottom: 16px;
}

.made-title {
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-size: 34px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color: #d41443;
    margin-bottom: 32px;
}

.made-img-text-container {
    display: flex;
    flex-direction: column;
}

.made-text-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.made-text-container::before {
    position: absolute;
    content: "";
    top: 30%;
    transform: translateY(-30%);
    width: 280px;
    height: 134px;
    background-image: url(../images/mobile/decor-milk.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
}

.made-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.62;
    letter-spacing: 0.04em;
    max-width: 222px;
    z-index: 3;
}

.first-p {
    font-weight: 600;
    padding-top: 40px;
    margin-bottom: 18px;
}

.second-p {
    color: #907e82;
    margin-bottom: 20px;
}

.made-button-container {
    position: relative;
}

.made-button {
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: #d41443;
    padding: 14px 46px 14px 36px;
    border: none;
    background-color: #fff;
    border-radius: 62px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 40px;
}

.made-button-arrow {
    position: absolute;
    stroke-width: 2px;
    stroke: #d41443;
    fill: none;
    right: 164px;
    top: 18px;
}

.made-button:hover,
.made-button:focus {
    background-color: #ecebeb;
}

.made-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.made-icon {
    fill: #ffa5ba;
}

.made-number {
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-size: 36px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
    padding-top: 16px;
    margin-bottom: 22px;
}

.made-description {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: #000;
}


/* === FEEDBACK SECTION ===*/

.feedback-section {
    padding-bottom: 60px;
}

.feedback-collage {
    margin: -26px auto 60px;
    width: 100vh;
    max-width: 320px;
}

.feedback-img {
    margin: 0 auto;
    margin-bottom: 32px;
}

.feedback-text-container {
    display: flex;
    justify-content: center;
    background-color: #fafafa;
    padding: 48px;
    position: relative;
    margin-bottom: 16px;
}

.feedback-text-container::before {
    position: absolute;
    content: "";
    top: 30px;
    left: 54px;
    width: 54px;
    height: 40px;
    background-image: url(../images/quotes.png);
    z-index: 1;
}

.feedback-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 2.6;
    letter-spacing: 0.04em;
    text-align: center;
    max-width: 156px;
    z-index: 2;
}

.mobile-feedback-text span {
    display: block;
    border-bottom: 2px solid #e1e1e1;
}

.tablet-feedback-text,
.desktop-feedback-text {
    display: none;
}

.feedback-elipse-container {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.feedback-elipse {
    fill: #c7133e;
}

.feedback-author {
    padding-top: 16px;
    margin-bottom: 16px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.86;
    text-align: center;
}

.icons-feedback-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.feedback-home {
    fill: #c7133e;
}

.feedback-big-elipse {
    fill: #d9d9d9;
}


/* === ADDRESS SECTION ===*/

.address-section {
    position: relative;
    padding-bottom: 40px;
    border-bottom: 1px solid #e1e1e1;
}

.address-section::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1480px;
    background-color: #fff5f6;
    z-index: -1;
}

.address-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 32px;
}

.address-article {
    border-radius: 24px;
    box-shadow: 0 8px 30px 0 rgba(212, 20, 67, 0.1);
    background-color: #fff;
    padding: 40px 32px;
}

.address-text {
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 24px;
}


.address-lable {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    height: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 4px;
    margin-bottom: 20px;
}

.address-lable.cafe {
    width: 80px;
    background-color: #f0d1a5;
}

.address-lable.foodtruck {
    width: 130px;
    background-color: #c2e297;
}

.address-city {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    margin-bottom: 8px;
}

.address-description {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #907e82;
    margin-bottom: 24px;
}

.address-schedule-list {
    display: flex;
    flex-direction: column;
    gap: 8px;

    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 24px;
}

.schedule-day {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    gap: 8px;
}

.schedule-time {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    color: #ffa5ba;
}

.address-schedule-list li:last-child .schedule-time {
    margin-bottom: 24px;
}

.address-contacts-list {
    display: flex;
    flex-direction: column;
}

.address-contacts-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: #907e82;
    cursor: pointer;
    transition: color 0.3s;
}

.address-contacts-link:hover,
.address-contacts-link:focus {
    color: #d41443;
}

.address-locations-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
}

.address-locations-item {
    min-width: 184px;
}

.address-locations-link {
    font-weight: 700;
    font-size: 16px;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    border-radius: 62px;
    padding: 16px 32px;
    transition: border-color 0.3s, background-color 0.3s;
    cursor: pointer;
}

.address-locations-link.locations {
    color: #fff;
    background-color: #d41443;
    border: 1px solid #d41443;
}

.address-locations-link.franchise {
    color: #d41443;
    background-color: #fff;
}

.address-icon {
    fill: none;
    stroke-width: 2px;
}

.address-icon.locations {
    stroke: #fff;
}

.address-icon.franchise {
    stroke: #d41443;
}

.address-locations-link.locations:hover,
.address-locations-link.locations:focus {
    border-color: #fff;
}

.address-locations-link.franchise:hover,
.address-locations-link.franchise:focus {
    background-color: #ecebeb;
}

.passion-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 40px;
}

.social-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.address-text-made {
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffa5ba;
    max-width: 218px;
}

.address-text-passion {
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-size: 34px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
    max-width: 200px;
}

.social-list {
    display: flex;
    gap: 28px;
    justify-content: flex-end;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 100%;
    background-color: #fea5bb;
    transition: background-color 0.3s;
}

.social-link-icon {
    fill: #fff
}

.social-link:hover,
.social-link:focus {
    background-color: #d41443;
}

.phone-text {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.86;
    text-align: right;
    color: #000;

}

.phone-link {
    color: #d41443;
    transition: color 0.3s;
}

.phone-link:hover,
.phone-link:focus {
    color: #fea5bb;
}


/* === FOOTER ===*/

.footer {
    padding: 10px;
    background-color: #fff5f6;
}

.footer-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;
    text-align: center;
    color: #907e82;
    max-width: 136px;
    margin: 0 auto;
}


/* === MEDIA QUERIES === */

/* === TABLET === */

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }

    /* === HEADER === */

    .header-container {
        padding: 32px;
    }

    .burger-header-button {
        display: flex;
        align-items: center;
        gap: 32px;
    }

    .header-button-container {
        position: relative;
    }

    .header-button {
        display: flex;
        font-weight: 700;
        font-size: 16px;
        text-align: center;
        color: #d41443;
        padding: 16px 36px;
        width: 160px;

        border: none;
        border-radius: 62px;
        background-color: #fff;

        cursor: pointer;
        transition: background-color 0.3s;
    }

    .header-button:hover,
    .header-button:focus {
        background-color: #ecebeb;
    }

    .header-button-arrow {
        position: absolute;
        fill: none;
        stroke-width: 2px;
        stroke: #d41443;
        top: 20px;
        left: 106px;
    }

    /* === MOBILE WINDOW === */

    .mobile-window {
        width: 254px;
        height: 1020px;
    }

    .burger-button {
        position: relative;
        z-index: 999;
    }

    /* === HERO SECTION ===*/

    .hero-title {
        padding-top: 0;
    }

    .hero-img {
        top: 50px;
        left: 55%;
        transform: translateX(-55%);
        width: 335px;
    }

    .hero-item {
        margin-bottom: 20px;
    }

    .hero-title-stat-container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .hero-stat-list {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .hero-stat-item {
        position: relative;
        z-index: 2;
    }

    .hero-stat-item::after {
        position: absolute;
        content: '';
        top: 0;
        right: -8px;
        width: 16px;
        height: 16px;
        border-radius: 100%;
        border: 2px solid #fff;
        background-color: #fff;
        z-index: -1;
    }

    .hero-stat-num {
        font-family: "Titan One", sans-serif;
        font-weight: 400;
        font-size: 28px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        text-align: right;
        color: #d41443;
    }

    .hero-stat-desc {
        font-weight: 400;
        font-size: 8px;
        text-align: right;
        color: #fff;
    }

    .hero-milk-img {
        display: flex;
    }

    .hero-milk-girl-container {
        display: flex;
        justify-content: space-between;
    }

    .hero-milk-text-container {
        display: flex;
        align-items: center;
    }

    .text-arrow-container {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .hero-milk-text {
        display: flex;
        font-weight: 400;
        font-size: 8px;
        line-height: 1.5;
        color: #fff;
        max-width: 114px;
    }

    .hero-milk-arrow {
        display: flex;
        width: 18px;
        height: 18px;
    }

    .hero-girl-img {
        display: flex;
        position: relative;
        bottom: -4px;
    }


    /* === PRODUCT SECTION ===*/

    .product-title {
        font-size: 26px;
        max-width: 284px;
        margin: 0 auto;
        margin-bottom: 158px;
    }

    .product-title span {
        font-size: 48px;
    }

    .product-list {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }

    .product-item {
        flex: calc((100% - 32px) / 3);
    }

    .product-article {
        width: 224px;
    }

    .product-sub-title {
        padding-top: 118px;
    }

    .product-text {
        padding-left: 18px;
        padding-right: 18px;
        line-height: 1.76;
    }

    .product-text.ice-coffee {
        margin-bottom: 57px;
    }

    /* === MADE SECTION ===*/

    .made-section {
        padding-bottom: 204px;
    }

    .made-pre-text {
        font-size: 26px;
    }

    .made-title {
        font-size: 48px;
        margin-bottom: 40px;
    }

    .made-img-text-container {
        flex-direction: row;
        gap: 32px;
    }

    .made-text-container::before {
        display: none;
    }

    .made-text {
        font-size: 14px;
        line-height: 1.94;
        max-width: 334px;
    }

    .made-button {
        margin-bottom: 50px;
    }

    .first-p {
        font-size: 14px;
        line-height: 1.74;
    }

    .made-button-arrow {
        right: 208px;
    }

    .made-list {
        flex-direction: row;
        align-items: center;
        gap: 18px;
    }

    .made-item {
        flex: calc((100% - 36px) / 3);
    }

    .made-number {
        padding-top: 14px;
        margin-bottom: 36px;
    }

    .made-description {
        font-size: 14px;
        line-height: 1.74;
    }


    /* === FEEDBACK SECTION ===*/

    .feedback-section {
        padding-bottom: 120px;
    }

    .feedback-collage {
        margin: -190px auto 60px;
        min-width: 768px;
    }

    .feedback-img {
        margin-bottom: 20px;
    }

    .feedback-text-container {
        padding: 36px 64px;
        width: 620px;
        height: 164px;
        margin: 0 auto 16px;
    }

    .feedback-text-container::before {
        top: 20px;
        left: 10px;
    }

    .mobile-feedback-text {
        display: none;
    }

    .tablet-feedback-text {
        display: flex;
        flex-direction: column;
        max-width: 620px;
        font-size: 14px;
        line-height: 2.14;
    }

    .tablet-feedback-text span {
        display: block;
        border-bottom: 2px solid #e1e1e1;
    }

    .feedback-author {
        margin-bottom: 32px;
    }


    /* === ADDRESS SECTION ===*/

    .address-container {
        padding: 0 15px;
    }

    .address-section::after {
        height: 560px;
    }

    .address-list {
        flex-direction: row;
        gap: 32px;
        margin-bottom: 60px;
    }

    .address-item {
        flex: calc((100% - 64px) / 3)
    }

    .address-city {
        font-size: 14px;
        margin-bottom: 12px;
    }

    .address-description {
        font-size: 14px;
        line-height: 1.66;
        margin-bottom: 32px;
        letter-spacing: 0;
    }

    .schedule-day {
        font-size: 14px;
    }

    .schedule-time {
        font-size: 14px;
    }

    .address-contacts-link {
        font-size: 14px;
        line-height: 1.83;
    }

    .address-locations-list {
        flex-direction: row;
        justify-content: center;
        gap: 14px;
    }

    .address-text-made {
        font-size: 26px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        max-width: 410px;
    }

    .passion-social-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .passion-container {
        gap: 12px;
        margin-bottom: 0;
    }

    .address-text-passion {
        font-size: 48px;
        letter-spacing: 0.06em;
    }

    .phone-text {
        font-size: 14px;
    }


    /* === FOOTER ===*/

    .footer-text {
        max-width: 282px;
        line-height: 1.86;
        letter-spacing: 0.02em;
    }
}


/* === DESKTOP === */

@media screen and (min-width: 1198px) {
    .container {
        max-width: 1198px;
        padding: 0 16px;
    }

    /* === HEADER === */

    .header-container {
        padding-top: 0;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }

    .logo {
        margin-right: 128px;
    }

    .header-list {
        display: flex;
        align-items: center;
        gap: 36px;
    }

    .header-link {
        display: block;
        padding: 52px 0;
        position: relative;
        z-index: 999;

        font-weight: 700;
        font-size: 16px;
        color: #fff;

        transition: color 0.3s;
    }

    .current {
        color: #d41443;
    }

    .header-link:hover,
    .header-link:focus {
        color: #d41443;
    }

    .burger-button {
        display: none;
    }

    /* === HERO SECTION ===*/

    .hero-title {
        padding-top: 8px;
        font-size: 38px;
        max-width: 277px;
        margin-bottom: 24px;
    }

    .hero-link-product,
    .hero-link-made {
        font-size: 14px;
    }

    .hero-img {
        top: 40px;
        left: 72%;
        transform: translateX(-72%);
        width: 500px;
    }

    .hero-item {
        margin-bottom: 40px;
    }

    .hero-milk-img {
        margin-bottom: 60px;
    }

    .hero-milk-text {
        font-size: 14px;
        line-height: 1.4;
        max-width: 200px;
    }

    .hero-milk-arrow {
        width: 26px;
        height: 26px;
    }

    .hero-girl-img {
        bottom: -35px;
    }

    .hero-stat-list {
        padding-right: 16px;
    }

    .hero-stat-item::after {
        top: -5px;
        right: -14px;
        width: 30px;
        height: 30px;
    }

    .hero-stat-num {
        font-size: 46px;
    }

    .hero-stat-desc {

        font-size: 14px;
    }

    /* === PRODUCT SECTION ===*/

    .product-title {
        font-size: 30px;
        letter-spacing: 0.04em;
        margin-bottom: 280px;
    }

    .product-title span {
        font-size: 58px;
        letter-spacing: 0.06em;
    }

    .product-article {
        width: 368px;
    }

    .product-list {
        gap: 32px;
    }

    .product-item {
        flex: calc((100% - 64px) / 3);
    }

    .product-img {
        top: -260px;
    }

    .product-sub-title {
        padding-top: 165px;
    }

    .product-text {
        padding: 0 32px;
        font-size: 16px;
        line-height: 1.76;
    }

    .product-text.ice-coffee {
        margin-bottom: 36px;
    }


    /* === MADE SECTION ===*/

    .made-section {
        padding-bottom: 182px;
    }

    .made-pre-text {
        font-size: 30px;
        letter-spacing: 0.04em;
    }

    .made-title {
        font-size: 58px;
        letter-spacing: 0.06em;
        margin-bottom: 60px;
    }

    .made-img-text-container {
        align-items: center;
        gap: 100px;
        margin-bottom: 40px;
        position: relative;
    }

    .made-img-text-container::before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        width: 1200px;
        height: 520px;
        background-image: url(../images/desktop/decor-milk.png);
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 1;
    }

    .made-text {
        max-width: 400px;
    }

    .first-p {
        font-size: 16px;
        line-height: 1.76;
    }

    .made-button {
        margin-bottom: 0;
    }

    .made-button-arrow {
        right: 268px;
    }

    .made-list {
        align-items: flex-start;
        gap: 80px;
    }

    .made-item {
        flex: calc((100% - 160px) / 3);
    }

    .made-number {
        padding-top: 40px;
        margin-bottom: 16px;
    }

    .made-description {
        font-size: 16px;
        line-height: 1.76;
    }


    /* === FEEDBACK SECTION ===*/

    .feedback-section {
        padding-bottom: 120px;
    }

    .feedback-collage {
        margin: -104px auto 120px;
        min-width: 1198px;
    }

    .feedback-img {
        margin-bottom: 16px;
    }

    .feedback-text-container {
        padding: 48px 108px;
        width: 968px;
        height: 138px;
    }

    .feedback-text-container::before {
        top: 32px;
        left: 78px;
    }

    .tablet-feedback-text {
        display: none;
    }

    .desktop-feedback-text {
        display: flex;
        flex-direction: column;
        max-width: 968px;
        font-size: 16px;
        line-height: 1.86;
    }

    .desktop-feedback-text span {
        display: block;
        border-bottom: 2px solid #e1e1e1;
    }


    /* === ADDRESS SECTION ===*/

    .address-section {
        padding-bottom: 60px;
    }

    .address-section::after {
        height: 824px;
    }

    .address-article {
        padding: 40px;
    }

    .address-city {
        font-size: 16px;
        margin-bottom: 8px;
    }

    .address-description {
        font-size: 16px;
        line-height: 1.83;
    }

    .schedule-day {
        font-size: 16px;
        letter-spacing: 0.04em;
    }

    .schedule-time {
        font-size: 16px;
    }

    .address-contacts-link {
        font-size: 16px;
    }

    .address-locations-list {
        margin-bottom: 120px;
    }

    .address-text-made {
        font-size: 30px;
        max-width: 472px;
    }

    .passion-container {
        gap: 16px;
    }

    .address-text-passion {
        font-size: 58px;
        max-width: 480px;
    }

    .phone-text {
        font-size: 16px;
        letter-spacing: 0.02em;
    }
}