/* === GENERAL === */

* {
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 2.6;
    letter-spacing: 0.04em;
    color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    font-family: inherit;
    color: currentColor;
}

img {
    display: block;
    width: 100%;
}

input {
    font-family: inherit;
}

.container {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    padding: 0 15px;
}

/* === HEADER === */

.header {
    background-color: #ffb8ca;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 8px 20px;
}

.header-list {
    display: none;
}

.header-button {
    display: none;
}

/* Burger button */

.burger-button {
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    background-color: transparent;
    cursor: pointer;
}

.burger-button-icon {
    stroke-width: 1px;
    stroke: #d41443;
    transition: stroke 0.2s;
}

.burger-button-icon:hover,
.burger-button-icon:focus {
    stroke: #fff;
}

/* === MOBILE WINDOW === */

.mobile-window {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 60px;
    z-index: 999;

    width: 250px;
    height: 508px;

    box-shadow: 8px 0 20px 0 rgba(0, 0, 0, 0.25);
    background-color: #e17992;

    transform: translateX(-100%);
    pointer-events: none;
    transition: transform 0.2s;
}

.mobile-window.is-open {
    transform: translateX(0%);
    pointer-events: auto;
}

.mobile-close {
    position: absolute;
    top: 20px;
    right: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    background-color: transparent;
    cursor: pointer;
}

.mobile-close-icon {
    stroke-width: 1px;
    stroke: #fff;
    transition: stroke 0.2s;
}

.mobile-close-icon:hover,
.mobile-close-icon:focus {
    stroke: #d41443;
}

/* Mobile button */

.mobile-button-container {
    position: relative;
}

.mobile-button {
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #d41443;

    border: 1px solid #fff;
    border-radius: 62px;
    padding: 16px 54px;

    display: block;
    margin: 0 auto;

    transition: border-color 0.2s;
    cursor: pointer;
    margin-bottom: 20px;
}

.mobile-button-arrow {
    position: absolute;
    stroke-width: 2px;
    stroke: #d41443;
    fill: none;
    right: 70px;
    top: 21px;
}

.mobile-button:hover,
.mobile-button:focus {
    border-color: #d41443;
}

/* Mobile links */

.mobile-item {
    border-top: 1px solid #e18298;
    border-bottom: 1px solid #e18298;
}

.mobile-link {
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    padding: 14px 20px;

    transition: color 0.2s;
}

.mobile-list li:first-child .mobile-link {
    color: #d41443;
}

.mobile-link:hover,
.mobile-link:focus {
    color: #d41443;
}

/* === HERO SECTION ===*/

.hero-section {
    background-color: #ffb8ca;
}

.title-link-container {
    position: relative;
    z-index: 3;
}

.hero-title {
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-size: 26px;
    letter-spacing: 0.04em;
    line-height: 0.965;
    text-transform: uppercase;
    color: #fff;
    padding-top: 136px;
    margin-bottom: 20px;
    max-width: 218px;
}

.hero-title span {
    font-size: 48px;
    color: #d41443;
}

.hero-list {
    display: flex;
    gap: 8px;
}

.hero-item {
    margin-bottom: 158px;
}

.hero-link-product,
.hero-link-made {
    font-weight: 400;
    font-size: 8px;
    text-align: center;
    padding: 8px 14px;
    border-radius: 20px;
    transition: border-color 0.2s;
}

.hero-link-product {
    border: 1px solid #d41443;
    color: #fff;
    background-color: #d41443;
}

.hero-link-made {
    color: #d41443;
    background-color: #fff;
    border: 1px solid #fff;
}

.hero-link-product:hover,
.hero-link-product:focus {
    border-color: #fff;
}

.hero-link-made:hover,
.hero-link-made:focus {
    border-color: #d41443;
}

.hero-img {
    position: absolute;
    top: 80px;
    right: 0;
    z-index: 2;
    width: 290px;
}